/*
  ----------------
  文章のスタイル設定
  ----------------
*/

body {
  font-family: $font-family;
  font-weight: 300;
  font-size: myrem(16);
  line-height: 1.75;
  @media #{$sp} {
    font-size: myrem(14);
  }
}