/*
  ----------------
  ボタン
  ----------------
*/
.more,button[type="submit"] {
	
}

// 電話番号
.tel {
  display: inline-block;
  font-size: 36px;
  font-weight: 700;
  color: #000;
  padding-left: 35px;
  position: relative;
  @media #{$sp} {
    font-size: 20px;
    padding-left: 30px;
  }
  &::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    width: 22px;
    height: 33px;
    background: url('../img/common/tel.svg') 50% / contain no-repeat;
    @media #{$sp} {
      width: 15px;
      height: 25px;
    }
  } 
}

// 吹き出し付きボタン
.ctabtn {
  position: relative;
  max-width: 560px;
  margin: 0 auto;
  text-align: center;
  @media #{$sp} {
    max-width: 100%;
  }
  .balloon {
    display: inline-block;
    position: absolute;
    top: -25px;
    left: 0;
    right: 0;
    margin: auto;
    z-index: 2;
    &__txt {
      display: inline-block;
      font-size: 14px;
      font-weight: 700;
      padding: 5px 15px;
      border-radius: 20px;
      background: #fff;
      color: #000;
      border: 1px solid #f29600;
      position: relative;
      @media #{$sp} {
        font-size: 11px;
      }
      &::before {
        content: "";
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        margin: auto;
        width: 0;
        height: 0;
        border-color: #fff rgba(0,0,0,0) rgba(0,0,0,0);
        border-style: solid;
        border-width: 6px 6px 0;
        z-index: 2;
      }
      &::after {
        content: "";
        position: absolute;
        top: 103%;
        left: 0;
        right: 0;
        margin: auto;
        width: 0;
        height: 0;
        border-color: #f29600 rgba(0,0,0,0) rgba(0,0,0,0);
        border-style: solid;
        border-width: 6px 6px 0;
        z-index: 1;
      }
    }
  }
  .tooltip {
    margin-top: 5px;
    font-size: 13px;
    font-weight: bold;
    color: #0D5BAB;
    @media #{$sp} {
      font-size: 12px;
    }
    &.cW {
      color: #fff;
    }
  }
}

// =========================================================================================*/
// #追加CSS
// =========================================================================================*/
.btn01 {
  display: inline-block;
  color: $lightgreen;
  text-align: center;
  border-radius: myrem(50);
  background-color: $base-color;
  padding: myrem(8) myrem(40);
  min-width: myrem(242);
  min-height: myrem(36);
  font-size: myrem(13);
  font-weight: 700;
  box-shadow: -6px -6px 14px rgba(255, 255, 255, .7),
              -6px -6px 10px rgba(255, 255, 255, .5),
              6px 6px 8px rgba(255, 255, 255, .075),
              6px 6px 10px rgba(0, 0, 0, .15);
  transition: all .3s ease-in-out;

  &:hover,
  &:focus {
    opacity: 1;
    outline: none;
    box-shadow: -6px -6px 14px rgba(255, 255, 255, .8),
              -4px -4px 6px rgba(255, 255, 255, 1),
              3px 3px 6px rgba(0, 0, 0, .3),
              8px 8px 12px rgba(0, 0, 0, .15);
  }

  &.--large {
    color: $lightgreen2;
    font-size: myrem(20);
    font-weight: 700;
    padding: myrem(12) myrem(10);
    text-align: center;
    min-width: myrem(382);
    min-height: myrem(64);
    border-radius: myrem(50);
    border: 2px solid $lightgreen2;
    @media #{$sp} {
      padding: myrem(6) myrem(20);
      min-width: myrem(208);
      min-height: myrem(36);
      font-size: myrem(13);
    }

    &:hover,
    &:focus {
    opacity: 1;
    outline: none;
    box-shadow: -6px -6px 14px rgba(255, 255, 255, .8),
              -6px -6px 5px rgba(255, 255, 255, 1),
              4px 4px 6px rgba(0, 0, 0, .3),
              10px 10px 12px rgba(0, 0, 0, .15);
    }
  }

  &.--bold {
    font-size: myrem(20);
    min-width: myrem(384);
    padding: myrem(25);
    @media #{$sp} {
      font-size: myrem(18);
      padding: myrem(16) myrem(16);
      min-width: myrem(300);
    }
  }

  &.--yellow {
    color: $white;
    background-color: $yellow;
  }

  &.--border {
    padding: myrem(4) myrem(40);
    border: 2px solid $lightgreen2;
  }

  &.--yellow-b {
    color: $yellow;
    border: 2px solid $yellow;
  }

  &.--small {
    min-width: myrem(208);
    padding: myrem(5) myrem(10);
  }

  &.--blue-line {
    border: 2px solid $lightblue;
    background-color: $white;
    color: $lightblue;
  }
}

.btn02 {
  font-size: myrem(20);
  color: $white;
  font-weight: 700;
  letter-spacing: 0.04em;
  background-color: $darkgreen;
  padding: myrem(16) myrem(30);
  min-width: myrem(381);
  text-align: center;
  border-radius: myrem(50);
  box-shadow: -6px -6px 14px rgba(255, 255, 255, .7),
              -6px -6px 10px rgba(255, 255, 255, .5),
              6px 6px 8px rgba(255, 255, 255, .075),
              6px 6px 10px rgba(0, 0, 0, .15);
  @media #{$sp} {
    min-width: myrem(326);
    padding: myrem(18) myrem(30);
  }
  &:hover,&:focus {
    opacity: 1;
    outline: none;
    background-color: $base-color;
    color: $darkgreen;
    box-shadow: -2px -2px 6px rgba(255, 255, 255, .6),
              -2px -2px 4px rgba(255, 255, 255, .4),
              2px 2px 2px rgba(255, 255, 255, .1),
              1px 1px 4px rgba(0, 0, 0, .4),
              inset 3px 3px 10px #e6e6e6,
            inset -3px -3px 10px #ffffff;
  }

  &.--small {
    font-size: myrem(15);
    min-width: myrem(292);
    padding: myrem(12) myrem(30);
  }

  &.--white {
    color: #DBBA2E;
    background-color: #F7F7F7;
    outline: 2px solid #DBBA2E;
    outline-offset: -2px;

    &:hover,&:focus {
      color: #F7F7F7;
      background-color: #DBBA2E;
      box-shadow: inset 4px 4px 8px rgba(0, 0, 0, .16),
            inset -4px -4px 8px rgba(255, 255, 255, .16);

    }
  }

  &.--blue {
    color: $white;
    background-color: $lightblue;
    outline: 2px solid $white;
    outline-offset: -2px;
    box-shadow: 6px 6px 8px rgba(0, 0, 0, .1),
    -4px -4px 4px rgba(255, 255, 255, .15);

    &:hover,&:focus {
      background-color: $white;
      color: $lightblue;
      box-shadow: inset 4px 4px 8px rgba(0, 0, 0, .16),
            inset -4px -4px 8px rgba(255, 255, 255, .16),
            6px 6px 8px rgba(0, 0, 0, .1),
            -4px -4px 4px rgba(255, 255, 255, .15);
    }
  }

  &.--yellow {
    background-color: $yellow;
    &:hover {
      background-color: $base-color;
      color: $yellow;
    }
  }

  &.--sp-small {
    @media #{$sp} {
      font-size: myrem(14);
      min-width: myrem(277);
      padding: myrem(14) myrem(30);
    }
  }

  &.--large {
    width: 100%;
    min-width: myrem(318);
    padding: myrem(15) myrem(50) myrem(18);
    font-size: myrem(22);
    border-radius: myrem(100);
    span {
      font-size: myrem(16);
      font-weight: 400;
      line-height: calc(40/16);
      letter-spacing: 0.04em;
    }
  }

}
