/*
  ----------------
  form
  ----------------
*/
.contact-form__body {
  padding-top: myrem(38);
  padding-bottom: myrem(63);
  @media #{$sp} {
    padding-bottom: myrem(45);
  }
}

.contact-form__item {
  display: flex;
  @media #{$sp} {
    display: block;
  }

  &:not(:first-child) {
    margin-top: myrem(39);
    @media #{$sp} {
      margin-top: myrem(25);
    }
  }

  &.--message {
    margin-top: myrem(40);
  }

  &.--ev-status {
    margin-top: myrem(45);
    .contact-form__label {
      padding-top: 0;
    }
  }

  &.--privacy-consent {
    margin-top: myrem(35);
    .contact-form__label {
      padding-top: 0;
    }
  }

  &.--mail-consent {
    margin-top: myrem(34);
    .contact-form__label {
      padding-top: 0;
    }
  }
}

.contact-form__label {
  width: calc(286/876 * 100%);
  padding-top: 6px;
  @media #{$sp} {
    width: 100%;
  }
  label,
  span {
    font-size: myrem(16);
    font-weight: 500;
    line-height: calc(28/16);
    letter-spacing: 0.04em;
    &::before {
      content: "*";
      color: #EE7083;
      margin-right: myrem(3);
    }
  }
}

.contact-form__input {
  width: calc(590/876 * 100%);
  margin-right: myrem(8);

  @media #{$sp} {
    width: 100%;
    margin-top: myrem(10);
  }

  input[type="text"],
  input[type="email"],
  input[type="tel"],
  select {
    width: 100%;
    min-width: myrem(232);
    background-color: $base-color;
    border-radius: 20px;
    transition: .3s;
    box-shadow:4px 4px 6px #d9d9d9,
             -6px -6px 10px #ffffff,
             inset -2px -2px 3px #A2A2A257;
    border: none;
    padding: myrem(8) myrem(24);
    border: none;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    color: inherit;
    font-family: inherit;
    &:hover,
    &:focus {
      background-color: $base-color;
      box-shadow:
      4px 4px 6px #d9d9d9,
      -10px -10px 20px #ffffff,
      inset 3px 3px 5px #A2A2A257;
      outline: none;
    }

    ::placeholder {
      color: #9F9F9F;
      font-size: myrem(13);
      font-weight: 300;
      letter-spacing: 0.04em;
    }

  }

  textarea {
    width: 100%;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: $base-color;
    border: 1px solid $white;
    border-radius: myrem(4);
    font-family: inherit;
    outline: none;
    resize: none;
    padding: myrem(24) myrem(24);
    min-height: myrem(258);
    box-shadow: 6px 6px 10px #d9d9d9,
    -7px -7px 14px #ffffff;
    transition: .3s;

    &:hover,
    &:focus {
      box-shadow: 10px 10px 12px #c5c5c5,
    -7px -7px 14px #ffffff;
    }
  }

  select {
    background: url(../img/common/icon-select-arrow.svg);
    background-repeat: no-repeat;
    background-position: right 22px center;
    color: #9F9F9F;

  }
}

.contact-item__input-name {
  display: flex;
  justify-content: space-between;
  @media #{$sp} {
    flex-direction: column;
    row-gap: myrem(20);
  }
  li {
    display: flex;
    align-items: center;
    font-size: myrem(16);
    font-weight: 500;
    line-height: calc(28/16);
    letter-spacing: 0.04em;
    padding-left: 12px;
  }

  input {
    max-width: myrem(232);
    margin-left: myrem(18);
    @media #{$sp} {
      max-width:100%;
    }
  }
}


/* ラジオボタン */
.contact-form__input.--radio {
  display: flex;
  @media #{$sp} {
    display: block;
  }

  .radio-item {
    label {
      font-size: myrem(14);
      font-weight: 500;
      letter-spacing: 0.04em;
    }
    &:not(:first-child) {
      margin-left: myrem(57);
      @media #{$sp} {
        margin-top: myrem(4);
        margin-left: 0;
      }
    }
  }

  input[type="radio"] {
    display: none;

    &:checked + label::before {
      background-color: #383838;
      box-shadow: inset 2px 2px 3px #E3E3E357;

    }
  }

  label {
    position: relative;
    padding-left: 30px;
    cursor: pointer;

    &::before {
      content: "";
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      width: myrem(20);
      height: myrem(20);
      border: 1px solid #898989;
      border-radius: 50%;
      background-color: $base-color;
      transition: .3s;
      box-shadow: inset -2px -2px 3px #A2A2A257;
    }
  }
}


/* チェックボックスカスタマイズ */
.contact-form__input.--checkbox {
  input[type="checkbox"] {
    display: none;

    &:checked + label::before  {
      background-color: #383838;
      box-shadow: inset 2px 2px 3px #E3E3E357;
    }
  }

  label {
    position: relative;
    padding-left: 30px;
    cursor: pointer;

    &::before {
      content: "";
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      width: myrem(20);
      height: myrem(20);
      border-radius: myrem(4);
      border: 1px solid #898989;
      background-color: $base-color;
      box-shadow: inset -2px -2px 3px #A2A2A257;
      transition: .3s;
    }
  }
}


.contact-form__note {
  color: #383838;
  font-size: myrem(14);
  font-weight: 300;
  line-height: calc(21/14);
  letter-spacing: 0.04em;
  margin-top: myrem(12);

  a {
    color: #0EA3D6;
    text-decoration: underline;
  }
}

.contact-form__followup {
  padding-top: myrem(58);
  border-top: 1px solid #D9D9D9;
  @media #{$sp} {
    padding-top: myrem(40);
  }

  .text {
    font-size: myrem(16);
    font-weight: 300;
    text-align: center;
    letter-spacing: 0.01em;
    display: flex;
    @media #{$sp} {
      font-size: myrem(14);
      text-align: left;
    }
    &::before {
      content: "●";
    }
  }
}

// 送信ボタン
.contact-form__submit {
  text-align: center;
  margin-top: myrem(66);
}

.submit-btn {
  font-size: myrem(20);
  font-weight: 700;
  padding: myrem(16) myrem(10);
  text-align: center;
  min-width: myrem(382);
  // min-height: myrem(64);
  border-radius: myrem(50);
  color: $yellow;
  border: 2px solid $yellow;
  box-shadow: -6px -6px 14px rgba(255, 255, 255, .7),
              -6px -6px 10px rgba(255, 255, 255, .5),
              6px 6px 8px rgba(255, 255, 255, .075),
              6px 6px 10px rgba(0, 0, 0, .15);
  transition: all .3s ease-in-out;
  @media #{$sp} {
    min-width: myrem(320);
  }
  &:hover,
  &:focus {
    opacity: 1;
    outline: none;
    box-shadow: -6px -6px 14px rgba(255, 255, 255, .8),
              -4px -4px 6px rgba(255, 255, 255, 1),
              3px 3px 6px rgba(0, 0, 0, .3),
              8px 8px 12px rgba(0, 0, 0, .15);
  }

  &.--small {
    font-size: myrem(13);
    padding: myrem(7) myrem(10);
    min-width: myrem(208);
  }
}




/*==================================
# sidebar-form
===================================*/
.sidebar-form {
  .contact-form__item {
    display: block;
    width: 100%;

    &:not(:first-child) {
      margin-top: myrem(11);
    }

    &.--ev-status {
      margin-top: myrem(16);

    }
  }

  .contact-form__label {
    width: 100%;
  }

  .contact-item__input-name {
    display: block;
    li {
      flex-direction: column;
      input {
        width: 100%;
        margin-left: 0;
        max-width: initial;
      }
    }
  }

  .contact-form__input {
    width: 100%;
    margin-top: 10px;
  }

  .contact-form__input.--radio {
    display: block;
    margin-top: myrem(14);
    .radio-item {
      margin-left: myrem(16);
    }
  }

  .contact-form__item.--privacy-consent {
    margin-left: myrem(16);
  }

  .contact-form__item.--mail-consent {
    margin-left: myrem(16);
  }
}

.contact-form__note {
  padding-left: myrem(30);
}

.sidebar-form__submit {
  text-align: center;
  margin-top: myrem(42);
}



// =========================================================================================*/
// #追加CSS
// =========================================================================================*/

/*==================================
# トップページ検索窓
===================================*/
.search-form {
  position: relative;

  &::before {
    content: "";
    display: inline-block;
    width: myrem(19);
    height: myrem(19);
    background: url(../img/common/icon-search-green.svg) no-repeat center center /contain;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: myrem(16);
    z-index: 2;
  }

  input {
    background-color: $base-color;
    max-width: myrem(456);
    border-radius: 20px;
    transition: .3s;
    box-shadow:4px 4px 6px #d9d9d9,
    -6px -6px 10px #ffffff,
    inset -2px -2px 3px #A2A2A257;
    border: none;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    color: inherit;
    font-family: inherit;

    &:hover,
    &:focus {
      background-color: $base-color;
      box-shadow:
      4px 4px 6px #d9d9d9,
      -10px -10px 20px #ffffff,
      inset 3px 3px 5px #A2A2A257;
      outline: none;
    }

  }


  @media #{$sp} {
    margin-inline: auto;
  }
}

.search-form__text{
	box-sizing: border-box;
  background-color: transparent;
  border-radius: 20px;
  padding: 3px 10px;
  height: 2.3em;
  width: 260px;
  overflow: hidden;
  font-size: myrem(13);
  padding: myrem(15) myrem(25);
  color: #9F9F9F;
  min-height: myrem(36);
  width: 100%;

  &:focus,&:hover {
  outline: none;
  border: none;
  }
}
