/*
  ----------------
  pagination
  ----------------
*/

.pagination {
  .screen-reader-text {
    display: none;
  }
  .nav-links {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: myrem(12);
    @media #{$sp} {
      gap: myrem(10);
    }
    .page-numbers {
      width: myrem(58);
      height: myrem(58);
      text-align: center;
      font-size: myrem(16);
      font-weight: 700;
      display: flex;
      color: $lightgreen;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      border-radius: 50%;
      background-color: $base-color;
      transition: .3s;
      box-shadow: 5px 5px 12px #e1e1e1,
             -5px -5px 12px #ffffff;
      @media #{$sp} {
        width: myrem(30);
        height: myrem(30);
        font-size: myrem(14);

      }


      &:hover {
        opacity: 1;
        box-shadow:  6px 6px 15px #bebebe,
             -8px -8px 10px #ffffff;
      }
      &.prev {
        padding-right: myrem(10);
        width: auto;
        height: auto;
        position: relative;
        box-shadow: none;
        @media #{$sp} {
          padding-right: myrem(4);
        }
        &:hover {
          opacity: 0.7;
        }
        &::before {
          content: "";
          display: inline-block;
          width: myrem(40);
          height: myrem(30);
          background: url(../img/common/icon-pagination.png) no-repeat center / contain;
          transform: rotate(180deg);
          @media #{$sp} {
            width: myrem(30);
            height: myrem(23);
          }
        }
      }
      &.next {
        padding-left: myrem(10);
        width: auto;
        height: auto;
        position: relative;
        box-shadow: none;
        @media #{$sp} {
          padding-right: myrem(4);
        }
        &::before {
          content: "";
          display: inline-block;
          width: myrem(40);
          height: myrem(30);
          background: url(../img/common/icon-pagination.png) no-repeat center / contain;
          @media #{$sp} {
            width: myrem(30);
            height: myrem(23);
          }
        }
        &:hover {
          opacity: 0.7;
        }
      }
      &.current {
        color: $white;
        background-color: $lightgreen;
        box-shadow: 5px 5px 12px #d7d6d6,
             -5px -5px 12px #ffffff;
        &:hover {
          opacity: 1;
          box-shadow: 5px 5px 12px #e1e1e1,
             -5px -5px 12px #ffffff;
        }
      }
    }
  }
}