{% extends "layout/default.njk" %}

{# Custom SEO tags, leave blank to apply the default values #}
{% set title = "『EV Start Biz』とは｜EV Start Biz" %}
{% set description = "『EV Start Biz』はNTTグループのEVシフトへの取り組みをご紹介するとともに、企業のEV導入をサポートする情報をお届けするサイトです。" %}
{% set keywords = "" %}

{# Page settings and also body class #}
{% set page = "about" %}

{# Custom tags before </head> #}
{% block customHead %}
{% endblock %}

{# Custom tags before </body> #}
{% block customJs %}
{% endblock %}

{# Main content #}
{% block content %}

<!-- breadcrumbs -->
<div class="breadcrumb">
  <div class="containers--sm">
    <ul class="flex fS">
      <li>
        <a href="">ホーム</a>
      </li>
      <li>
        『EV Start Biz』とは
      </li>
    </ul>
  </div>
</div>

<main class="about__main">
  <!-- about-sec1 -->
  <section class="about__sec1 about-sec1">
    <div class="about-sec1__containers containers--md">
      <div class="about-sec1__ttl ttl-primary --center">
        <div class="img">
          <img src="/assets/img/common/ttl-about.png" alt="contact us">
        </div>
        <h2 class="ttl">『EV Start Biz』とは</h2>
      </div>
      <div class="about-sec1__wrapper flex">
        <div class="about-sec1__body">
          <p class="about-sec1__text text js-fadein-box">
            <span class="js-fadein">
              『EV Start Biz』はNTTグループのEVシフトへの取り組みを<br class="pc-only">
              ご紹介するとともに、企業のEV導入をサポートする情報をお届けするサイトです。
            </span>
            <span class="js-fadein">
              自動車は事業活動において必要なものですが、<br>
              一方でガソリン車をはじめとする内燃機関車による温室効果ガスの排出は<br class="pc-only">
              大気汚染や地球温暖化の原因でもあり、<br>
              2050年カーボンニュートラル達成のためには、EVシフトは企業においても欠かせない
              ものです。
            </span>
            <span class="js-fadein">
              しかしその重要性は認識しつつも、なかなか取り組みを始められていない、<br>
              という企業も少なくないというのが実情です。
            </span>
            <span class="js-fadein">
              このような状況下で、NTTグループでは2019年より、<br class="pc-only">
              社用車のEV化に向けた取り組みを始めています。
            </span>
            <span class="js-fadein">
              <span class="marker-green js-marker">
                単にガソリン車をEVに置き換えていくだけではなく、いわゆる「スマート充電」と
                呼ばれる充電制御技術の活用によって電力の利用時間を最適化したり、設備導入時の
                コスト低減も実現しています。
              </span>
            </span>
            <span class="js-fadein">
              『EV Start Biz』では、EVの基礎知識から充電設備の構築方法まで<br class="pc-only">
              日本で最もEVスマート充電を実践しているNTTグループだからこそお伝えできる<br class="pc-only">
              「企業のEVシフト」に役立つ情報を発信していきます。
            </span>
            <span class="js-fadein">
              豊富なEV導入実績をもつ私たちと一緒に、本気でEVシフトに取り組んでみませんか？
            </span>
          </p>
        </div>
        <div class="about-sec1__img-area flex" data-aos="fade-in" data-aos-duration="2000">
          <div class="img1">
            <img src="/assets/img/about/img-about01.jpg" alt="">
          </div>
          <div class="img2">
            <img src="/assets/img/about/img-about02.jpg" alt="">
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- about-sec2 -->
  <section class="about__sec2 about-sec2">
    <div class="containers--md">
      <div class="container">
        <h3 class="about-sec2__ttl ttl-secondary" data-aos="fade-up">
          NTTグループの社用車EV化へ<span>の取り組み</span>
        </h3>
        <p class="about-sec2__text1 text" data-aos="fade-up">
          NTTグループは、企業による電気自動車の使用や環境整備促進をめざす国際イニシアティブ<br class="pc-only">
          「EV100*」に加盟しています。
        </p>
        <p class="about-sec2__note note" data-aos="fade-up">
          ※1 EV100：英国のNPO法人「The Climate Group」が<br class="pc-only">
          運営するエネルギー効率および再生可能エネルギーに関する国際イニシアティブ
        </p>
        <p class="about-sec2__text2 text" data-aos="fade-up">
          さらに、環境負荷低減と車両保有コスト低減に向けて、NTTグループが保有している一般車両について、<br>
          2030年までに「100％EV化」の目標を掲げています。
        </p>
        <ul class="about-sec2__list">
          <li class="about-sec2__list-item card3" data-aos="fade-up">
            <div class="card3__img">
              <img src="/assets/img/about/img-about03.jpg" alt="">
            </div>
            <div class="card3__body">
              <h4 class="card3__ttl">一般車両100%EV化</h4>
              <div class="card3__text">
                2030年まで100%EV化の目標に向け、全国各地のNTTの拠点において一般車両を順次EVに変更。
              </div>
            </div>
          </li>
          <li class="about-sec2__list-item card3" data-aos="fade-up">
            <div class="card3__img">
              <img src="/assets/img/about/img-about04.jpg" alt="">
            </div>
            <div class="card3__body">
              <h4 class="card3__ttl">充電インフラの整備</h4>
              <div class="card3__text">
                EV化に伴うコストアップを抑制するため、普通充電器を導入。充電制御と組み合わせることで設備増強コストの大幅な削減を実現。
              </div>
            </div>
          </li>
          <li class="about-sec2__list-item card3" data-aos="fade-up">
            <div class="card3__img">
              <img src="/assets/img/about/img-about05.jpg" alt="">
            </div>
            <div class="card3__body">
              <h4 class="card3__ttl">充電制御システムの導入</h4>
              <div class="card3__text">
                EV充電による消費電力を時間制御と出力制御により最適化。電気料金の上昇抑制を実現。
              </div>
            </div>
          </li>
        </ul>
        <p class="about-sec2__text3 text" data-aos="fade-up">
          NTTグループの社用車EV化において必須としている充電制御は、コスト最小化の実現のみ<br class="pc-only">
          ならず、今後EVが大量導入されることで懸念される電力需給逼迫問題*といった<br class="pc-only">
          社会的課題の解決にも大きく貢献します。
        </p>
        <p class="about-sec2__note2 note" data-aos="fade-up">
          ※電力需給逼迫問題については、コラムで詳しくご紹介しております。併せてぜひご覧ください。
        </p>
        <div class="about-sec2__btn-wrapper" data-aos="fade-up">
          <div class="fukidashi">
            導入の流れはこちらから
          </div>
          <div class="about-sec2__btn">
            <a href="" class="btn01 --bold">EV導入をお考えの企業さまへ</a>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- about-enneev -->
  <div class="about__enneev about-enneev">
    <div class="about-enneev__containers containers--md">
      <a href="https://test2.suzu-web.com/solution/enneev/" class="about-enneev__wrapper flex" data-aos="fade-up">
        <div class="about-enneev__img">
          <img src="/assets/img/about/img-enneev.jpg" alt="">
        </div>
        <div class="about-enneev__body">
          <p class="about-enneev__lead fukidashi">
            【NTTグループで活用！】<span>国際規格OCPPを国内初採用</span>
          </p>
          <p class="about-enneev__ttl">
            EV社用車運用のコストを抑える<br>
            <span class="large">スマート充電サービス『EnneEV®』</span>エネーブ
          </p>
          <div class="about-enneev__btn">
            <p href="" class="btn01">詳しく見る</p>
          </div>
        </div>
      </a>
    </div>
  </div>

  <!-- contact -->
  <section class="about__contact contact">
    <div class="containers--sm">
      <div class="contact__ttl ttl-primary --center">
        <div class="img">
          <img src="/assets/img/common/ttl-contact.png" alt="contact us">
        </div>
        <h2 class="ttl">ご相談・お問合せ</h2>
      </div>
      <p class="contact__text" data-aos="fade-up">EV導入や運用に関する<span>お問合せ・ご相談はお気軽に</span><span>ご連絡ください。</span></p>
      <div class="contact__btn" data-aos="fade-up">
        <a href="#" class="btn02">まずは相談・問合せする</a>
      </div>
      <div class="contact__document" data-aos="fade-up">
        <p class="contact__document-text">サービス資料・お役立ち資料を<span>ご希望の方はこちら</span></p>
        <div class="contact__document-btn">
          <a href="#" class="btn02 --yellow --sp-small">サービス資料</a>
          <a href="#" class="btn02 --yellow --sp-small">お役立ち資料</a>
        </div>
      </div>
    </div>
  </section>



</main>


{% endblock %}