/*
  ----------------
  TOP
  ----------------
*/
.top__result {
  margin-top: myrem(81);
  @media #{sp} {
    margin-top: myrem(64);
  }
}

.top__about {
  margin-top: myrem(176);
  @media #{$sp} {
    margin-top: myrem(138);
  }
}

.top__column {
  margin-top: myrem(176);
  @media #{$sp} {
    margin-top: myrem(110);
  }
}

.top__recommend {
  margin-top: myrem(176);
  @media #{$sp} {
    margin-top: myrem(130);
  }
}

.top__document {
  margin-top: myrem(176);
  @media #{$sp} {
    margin-top: myrem(144);
  }
}

.top__news {
  margin-top: myrem(176);
  @media #{$sp} {
    margin-top: myrem(68);
  }
}

.top__contact {
  margin-top: myrem(176);
  margin-bottom: myrem(98);
  @media #{$sp} {
    margin-top: myrem(134);
    margin-bottom: myrem(134);
  }
}

/*==================================
# メインビュー
===================================*/
.mv {
  height: myrem(704);
  // background: url(../img/top/bg-mv.png) ;
  // background-size: cover;
  // background-repeat: no-repeat;
  // background-position: 48.9% bottom;
  padding-top: myrem(150);
  padding-bottom: myrem(50);
  overflow: hidden;
  position: relative;
  @media #{$sp} {
    padding: 0;
    background-position: 46.5% bottom;
  }
}

.mv__bg {
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 0;
  // transform: translateX(-50%);
  z-index: -1;
}

.mv__containers {
  position: relative;
  @media #{$sp} {
    padding-right: myrem(32);
    padding-left: myrem(32);
    height: 100%;
  }
}

.mv__car {
  width: myrem(200);
  height: myrem(153);
  background: url(../img/top/img-car.png) no-repeat center / contain;
  position: absolute;
  bottom: myrem(-55);
  left: myrem(55);
  z-index: 2;
  @media #{$sp} {
    width: myrem(136);
    height: myrem(105);
    left: myrem(35);
    bottom: 0;
  }
}

.mv__content {
  display: flex;
  @media #{$sp} {
    display: block;
    padding-top: myrem(100);

  }
}

.mv__body {
  width: calc(600 / 1330 * 100%);
  @media #{$sp} {
    width: 100%;
    position: relative;
    z-index: 5;
  }
}

.mv__logo {
  width: myrem(520);
  margin-top: myrem(57);
  @media #{$sp} {
    width: myrem(320);
    margin-top: 0;
  }

  img {
    width: initial;
    height: auto;
  }
}


.mv__lead {
  font-size: myrem(15);
  font-weight: 500;
  line-height: calc(50/15);
  letter-spacing: 0.04em;
  margin-top: myrem(4);
  @media #{$sp} {
    font-size: myrem(14);
    line-height: calc(21/14);
    margin-top: 26px;
  }
}

.mv__img {
  width: calc(730 / 1330 * 100%);
  margin-left: myrem(10);
  @media #{$sp} {
    width: myrem(730);
    height: myrem(515);
    position: absolute;
    top: myrem(20);
    left: calc( 80 / 390 * 100%);
    margin-left: 0;
  }
  .skew-img__front {
    @media #{$sp} {
      opacity: 0.7;
    }
  }
}

/*==================================
# 導入実績
===================================*/
.top-result__containers {
  max-width: myrem(1210);
  margin-inline: auto;
}

.top-result__wrapper {
  border-radius: 10px;
  background: $base-color;
  box-shadow:  $shadow;
  padding: myrem(34) myrem(30) myrem(40) myrem(30);
  @media #{$sp} {
    padding: myrem(20) myrem(10) myrem(32) myrem(10);
    max-width: myrem(550);
    margin-inline: auto;
  }
}

.top-result__head {
  text-align: center;
}

.top-result__ttl {
  color: $darkgreen;
  font-size: myrem(25);
  font-weight: 500;
  line-height: calc(51/25);
  letter-spacing: 0.06em;
  text-align: center;
  display: inline-block;
  transform: translateX(11%);
  @media #{$sp} {
    font-size: myrem(18);
    line-height: calc(30/18);
    transform: translateX(0);
  }
}

.top-result__note {
  color: #8D8D8D;
  font-size: myrem(13);
  font-weight: 300;
  @media #{$sp} {
    display: inline-block;
    margin-top: myrem(-10);
  }
}

.top-result__content.flex {
  margin-top: myrem(20);
  @media #{$sp} {
    display: block;
  }
}


.top-result__item {
  padding: myrem(10) myrem(100) 0 myrem(74);
  @media #{$sp} {
    padding: myrem(10) myrem(10) myrem(65) myrem(10);
  }

  &:nth-child(n+2) {
    @media #{$sp} {
      padding: myrem(63) myrem(10) 0 myrem(10);
    }
  }


  &:last-of-type {
    position: relative;
  }

  &:last-of-type::before {
    content: "";
    display: inline-block;
    height: myrem(232);
    width: 2px;
    background-color: $white;
    position: absolute;
    top: 0;
    left: 0;
    box-shadow: 0px 0px 10px #00000029;
    transform: translateX(myrem(-10));
    @media #{$sp} {
      width: 60%;
      height: 2px;
      left: 50%;
      transform: translateX(-50%);
    }
  }
}

.top-result__sub-ttl {
  font-size: myrem(14);
  font-weight: 300;
  line-height: calc(30/14);
  text-align: center;

}

.top-result__num {
  font-size: myrem(14);
  font-weight: 300;
  text-align: center;
  transform: translateX(10%);
  @media #{$sp} {
    padding-left: myrem(30);
    transform: translateX(0);
  }

  .large {
    font-size: myrem(60);
    font-weight: 500;
    letter-spacing: 0.04em;
    margin-right: myrem(10);
    @media #{$sp} {
      font-size: myrem(86);
      line-height: 1.1;
      margin-left: 0;
    }
  }
}

.top-result__img {
  width: myrem(122);
  height: myrem(88);
  margin-right: 0;
  margin-inline: auto;
  @media #{$sp} {
    margin-top: myrem(20);
  }

  img {
   object-fit: contain;
    width: 100%;
    height: 100%;
  }

}


/*==================================
# about
===================================*/
.top-about {
  overflow: hidden;
  @media #{$sp} {
    padding-top: myrem(182);
    padding-bottom: myrem(20);
    position: relative;
  }
}

.top-about__wrapper{
  @media #{$sp} {
    display: block;
  }
}

.top-about__img {
  width: calc(720 / 1330 * 100%);
  margin-left: myrem(-110);
  margin-top: myrem(5);
  @media #{$sp} {
    width: myrem(400);
    margin-left: 0;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-73%);
    margin-top: 0;
  }
}

.top-about__body {
  width: 50%;
  margin-left: myrem(56);
  @media #{$sp} {
    width: 100%;
    margin-left: 0;
    position: relative;
    z-index: 5;
  }
}

.top-about__text {
  font-size: myrem(23);
  font-weight: 500;
  line-height: calc(36/23);
  letter-spacing: 0.04em;
  margin-top: myrem(30);
  @media #{$sp} {
    font-size: myrem(21);
    line-height: calc(36/21);
    margin-top: myrem(85);
  }
}

.top-about__btn {
  text-align: center;
  margin-top: myrem(47);
  transform: translateX(-7%);
  @media #{$sp} {
    transform: translateX(0);
    margin-top: myrem(42);
  }
}

/*==================================
# column
===================================*/
.top-column__wrapper {
  @media #{$sp} {
    display: block;
  }
}
.top-column__content01 {
  width: calc(456 / 1160 * 100%);
  @media #{$sp} {
    width: 100%;
  }
}

.top-column__ttl {
  margin-top: myrem(5);
  @media #{$sp} {
    margin-top: 0;
  }
}

.top-column__form {
  margin-top: myrem(56);
  @media #{$sp} {
    margin-top: myrem(32);
  }
}

.top-column__categories {
  margin-top: myrem(36);
  display: flex;
  flex-wrap: wrap;
  column-gap: myrem(13);
  row-gap: myrem(11);
  @media #{$sp} {
    margin-top: myrem(34);
    max-width: myrem(500);
    margin-inline: auto;
  }
}

.top-column__content02 {
  width: calc(636 / 1160 * 100%);
  @media #{$sp} {
    width: 100%;
    margin-top: myrem(35);
  }
}

.top-column__item:not(:first-child) {
  margin-top: myrem(16);
  @media #{$sp} {
    margin-top: myrem(46);
  }
}

.top-column__btn {
  text-align: center;
  margin-top: myrem(47);
  @media #{$sp} {
    margin-top: myrem(48);
  }
}

/*==================================
# recommend
===================================*/
.top-recommend__list {
  margin-top: myrem(60);
  @media #{$sp} {
    max-width: myrem(550);
    margin-inline: auto;
    margin-top: myrem(40);
  }
}

.top-recommend__item:not(:first-child) {
  margin-top: myrem(31);
  @media #{$sp} {
    margin-top: myrem(38);
  }
}

/*==================================
# document
===================================*/
.top-document__container {
  @media #{$sp} {
    padding-right: myrem(10);
    padding-left: myrem(10);
  }
}

.top-document__wrapper {
  background-color: $lightgreen;
  border-radius: myrem(10);
  box-shadow: $shadow;
  padding: myrem(70) myrem(127) myrem(50) myrem(127);
  @media #{$sp} {
    padding: myrem(35) myrem(27) myrem(50) myrem(25);

  }
}

.top-document__content {
  display: grid;
  grid-template-columns: repeat(2,1fr);
  column-gap: myrem(60);
  margin-top: myrem(32);
  @media #{$sp} {
    grid-template-columns: 1fr;
    row-gap: myrem(40);
    max-width: myrem(550);
    margin-inline: auto;
    margin-top: myrem(36);
  }
}

.top-document__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: myrem(19) myrem(26) myrem(36) myrem(32);
  border-radius: myrem(10);
  box-shadow:  11px 11px 22px #6fba7c,-11px -11px 22px #85de94;
  min-height: myrem(312);
  @media #{$sp} {
    flex-direction: column;
    padding: myrem(36) myrem(24) myrem(36) myrem(24);
  }

  &:hover {
    opacity: 1;
    background-color: $base-color;

    .top-document__btn {
      .btn01 {
        background-color: $yellow;
        color: $white;
        opacity: 1;
        outline: none;
        background-color: $base-color;
        color: $yellow;
        box-shadow: -2px -2px 6px rgba(255, 255, 255, .6),
                  -2px -2px 4px rgba(255, 255, 255, .4),
                  2px 2px 2px rgba(255, 255, 255, .1),
                  1px 1px 4px rgba(0, 0, 0, .4),
                  inset 3px 3px 10px #e6e6e6,
                inset -3px -3px 10px #ffffff;
      }
    }
  }

  .img {
    width: calc(177 / 456 * 100%);
    @media #{$sp} {
      width: myrem(177);
      margin-inline: auto;
    }

    img {
      width: 100%;
      height: auto;
      object-fit: contain;
    }
  }

  .body {
    width: calc(267 / 456 * 100%);
    display: flex;
    flex-direction: column;
    height: 100%;
    @media #{$sp} {
      width: 100%;
      margin-top: myrem(14);
    }
  }

  .ttl {
    color: #383838;
    font-size: myrem(16);
    line-height: calc(26/16);
    font-weight: 500;
    letter-spacing: 0.04em;
  }

  .text {
    font-size: myrem(15);
    font-weight: 300;
    line-height: calc(26/15);
    letter-spacing: 0.04em;
    margin-top: myrem(8);
    margin-bottom: myrem(16);
    @media #{$sp} {
      margin-bottom: myrem(32);
    }
  }

  .btn {
    text-align: center;
    margin-top: auto;
  }
}

.top-document__btn {
  text-align: center;
  margin-top: myrem(55);
  .btn01 {
    box-shadow: -3px -3px 4px rgba(255, 255, 255, .1),
    -2px -2px 10px rgba(255, 255, 255, .2),
    4px 4px 6px rgba(255, 255, 255, .075),
    6px 6px 6px rgba(0, 0, 0, .15);

    &:hover {
      opacity: 1;
      color: $lightgreen;
      background-color: $white;
      box-shadow: 0px 0px 0px rgba(255, 255, 255, .6),
      0px 0px 0px rgba(255, 255, 255, .4),
      2px 2px 2px rgba(255, 255, 255, .075),
      2px 2px 4px rgba(0, 0, 0, .3),
      inset 3px 3px 10px #e6e6e6,
            inset -3px -3px 10px #ffffff;
    }
  }
  @media #{$sp} {
    margin-top: myrem(30);
    @media #{$sp} {
      margin-top: myrem(36);
    }
  }
}

/*==================================
# news
===================================*/
.top-news__tab {
  margin-top: myrem(40);
  max-width: myrem(816);
  margin-inline: auto;
  @media #{$sp} {
    margin-top: myrem(34);
    max-width: myrem(400);
    margin-inline: auto;
  }

  .tab-list {
    display: grid;
    grid-template-columns: repeat(5,1fr);
    border-radius: myrem(10);
    box-shadow: $shadow;
    @media #{$sp} {
      grid-template-columns: 1fr;
    }

    .tab-menu {
      font-size: myrem(20);
      font-weight: 300;
      text-align: center;
      padding: myrem(10) myrem(10);
      transition: all .2s ease-in-out;
      @media #{$sp} {
        font-size:myrem(16);
        padding: myrem(14) myrem(10);
      }
      &:not(:last-child) {
        border-right: 1px solid #D9D9D9;
        @media #{$sp} {
          border-bottom: 1px solid #D9D9D9;
        }
      }

      &:first-child {
        border-radius: myrem(10) 0 0 myrem(10);
        @media #{$sp} {
          border-radius: myrem(10) myrem(10) 0 0;
        }
      }

      &:last-child {
        border-radius: 0 myrem(10) myrem(10) 0;
        @media #{$sp} {
          border-radius: 0 0 myrem(10) myrem(10);
        }
      }

      &:hover{
        cursor: pointer;
        box-shadow: inset 7px 7px 14px #e6e6e6,
            inset -7px -7px 14px #ffffff;
      }

      &.current {
        background-color: #707070;
        color: $white;
        box-shadow: inset 6px 6px 12px #414141,
        inset -6px -6px 12px #9f9f9f;
      }
    }
  }
}

.top-news__content {
  background-color: $base-color;
  border-radius: myrem(10);
  box-shadow: $shadow;
  margin-top: myrem(20);
  padding: myrem(64) myrem(48) myrem(44) myrem(56);
  max-width: myrem(1130);
  margin-inline: auto;
  @media #{$sp} {
    margin-top: myrem(40);
    padding: myrem(25) myrem(24) myrem(30) myrem(24);
  }
}

.top-news__item {
  &:last-child {
    .top-news__item-meta {
      border-bottom: 1px solid #D9D9D9;
    }

    .top-news__item-body {
      border-bottom: 1px solid #D9D9D9;
    }
  }
}

.top-news__link {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  transition: all .3s ease-in-out;
  &:hover {
    background-color: #e9e9e9;
    opacity: 1;
  }
}

.top-news__item-meta {
  width: calc(240 / 966 * 100%);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: myrem(14) 0;
  border-top: 1px solid #D9D9D9;
  @media #{$sp} {
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    // width: calc(96 / 280 * 100%);
    width: myrem(105);
    padding: myrem(7) 0 myrem(16);
  }
}

.top-news__item-time {
  font-size: myrem(25);
  font-weight: 300;
  letter-spacing: 0.04em;
  @media #{$sp} {
    font-size: myrem(16);
  }
}

.top-news__item-cat {
  @media #{$sp} {
    margin-top: myrem(10);
  }
}

.top-news__item-body {
  width: calc(699 / 966 * 100%);
  margin-left: myrem(27);
  display: flex;
  align-items: center;
  border-top: 1px solid #D9D9D9;
  @media #{$sp} {
    // width: calc(166 / 280 * 100%);
    flex-grow: 1;
    margin-left: myrem(16);
    padding: myrem(7) 0 myrem(16);
  }
}

.top-news__item-ttl {
  font-size: myrem(16);
  font-weight: 300;
  line-height: calc(21/16);
  letter-spacing: 0.04em;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  @media #{$sp} {
    -webkit-line-clamp: 4;
  }
}

.top-news__btn {
  text-align: center;
  margin-top: myrem(63);
  @media #{$sp} {
    margin-top: myrem(41);
  }
}

/*==================================
# contact
===================================*/
.top-contact__text {
  font-size: myrem(22);
  font-weight: 300;
  line-height: calc(36/22);
  letter-spacing: 0.06em;
  text-align: center;
  margin-top: myrem(34);
  @media #{$sp} {
    margin-top: myrem(28);
  }

  span {
    display: inline-block;
  }
}

.top-contact__btn {
  text-align: center;
  margin-top: myrem(42);
  @media #{$sp} {
    margin-top: myrem(50);
  }
}

.top-contact__document {
  background-color: $base-color;
  border-radius: myrem(10);
  box-shadow: $shadow;
  padding: myrem(36) myrem(30) myrem(42) myrem(30);
  margin-top: myrem(47);
  max-width: myrem(1100);
  margin-inline: auto;
  @media #{$sp} {
    padding: myrem(32) myrem(22) myrem(37) myrem(22);
    margin-top: myrem(60);
  }
}

.top-contact__document-text {
  font-size: myrem(18);
  font-weight: 300;
  letter-spacing: 0.06em;
  text-align: center;
  @media #{$sp} {
    font-size: myrem(16);
  }

  span {
    display: inline-block;
  }
}

.top-contact__document-btn {
  display: flex;
  justify-content: center;
  column-gap: myrem(46);
  margin-top: myrem(30);
  @media #{$sp} {
    display: flex;
    align-items: center;
    flex-direction: column;
    row-gap: myrem(22);
    margin-top: myrem(24);
  }
}



