/*
  ----------------
  TOP
  ----------------
*/

// メインビュー
.mv {
  height: 704px;
  background: url(../img/top/bg-mv.png) no-repeat center center /cover;
  padding-top: 150px;
  padding-bottom: 50px;
  overflow: hidden;
  @media #{$sp} {
    background-position: 18% bottom;
    position: relative;
    padding-top: 99px;
  }
}

.mv__containers {
  @media #{$sp} {
    padding-right: 32px;
    padding-left: 32px;
  }
}

.mv__content {
  display: flex;
  @media #{$sp} {
    display: block;
  }
}

.mv__body {
  width: calc(600 / 1330 * 100%);
  @media #{$sp} {
    width: 100%;
    position: relative;
    z-index: 5;
  }
}

.mv__logo {
  width: 520px;
  margin-top: 57px;
  @media #{$sp} {
    width: 320px;
    margin-top: 0;
  }
}

.mv__logo img {
  width: initial;
  height: auto;
}

.mv__lead {
  font-size: 15px;
  font-weight: 500;
  line-height: calc(50/15);
  letter-spacing: 0.04em;
  @media #{$sp} {
    font-size: 14px;
    line-height: calc(21/14);
    margin-top: 26px;
  }
}

.mv__img {
  width: calc(730 / 1330 * 100%);
  @media #{$sp} {
    width: 729px;
    position: absolute;
    top: 23px;
    left: calc( 80 / 390 * 100%);

    &::before {
      content: "";
      display: inline-block;
      clip-path: polygon(15% 0%, 100% 0, 85% 100%, 0% 100%);
      width: calc(100% - 50px);
      height: calc(100% - 22px);
      background-color: #fff;
      position: absolute;
      bottom: 23px;
      left: 0;
      z-index: 3;
    }

    &::after {
      content: "";
      display: inline-block;
      clip-path: polygon(15% 0%, 100% 0, 85% 100%, 0% 100%);
      width: calc(100% - 24px);
      height: calc(100% - 22px);
      background-color: #fff;
      position: absolute;
      bottom: 0;
      right: 0;
      z-index: 1;
    }

  }
  .skew-img__front {
    @media #{$sp} {
      // object-position: -130px 0;
      opacity: 0.7;
    }
  }
}

