/*
  ----------------
  sitemap
  ----------------
*/
.sitemap__items {
  margin-top: myrem(177);
  margin-inline: auto;
  padding: myrem(56);
  max-width: myrem(1004);
  box-shadow: $shadow;

  @media #{$sp} {
    margin-top: myrem(100);
    padding: myrem(40) myrem(20);
  }
}

.sitemap__list {
  width: fit-content;
  margin-inline: auto;
}

/*==================================
.sitemap-nav
===================================*/
.sitemap-nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  column-gap: myrem(96);

  @media #{$sp} {
    flex-direction: column;
    row-gap: myrem(48);
  }
}

.sitemap-nav__content {
  .parent {
    a{
      display: inline-block;
      font-size: myrem(16);
      font-weight: 700;
      letter-spacing: 0.04em;
      padding: myrem(2) myrem(10);
      position: relative;

      &::before {
        content: "";
        display: inline-block;
        width: 2px;
        height: myrem(20);
        background-color: $lightgreen2;
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
      }

      &:hover {
        opacity: 1;
        text-decoration: underline;
      }

    }
    &:not(:first-child) {
      margin-top: myrem(16);
      @media #{$sp} {
        margin-top: myrem(32);
      }
    }
  }

  .parent + .parent {
    margin-top: myrem(26);

    @media #{$sp} {
      margin-top: myrem(20);
    }
  }
}

.sitemap-nav__list {
  margin-top: myrem(25);

  @media #{$sp} {
    margin-top: myrem(20);
  }
}

.sitemap-nav__item {
  a {
    display: inline-block;
    font-size: myrem(15);
    font-weight: 500;
    letter-spacing: 0.04em;
    padding: myrem(3) myrem(15) myrem(3) 0;
    display: flex;
    align-items: center;

    &::before {
      content: "≫";
      color: $lightgreen2;
    }

    &:hover {
      opacity: 1;
      text-decoration: underline;
    }
  }

  &:not(:first-child) {
    @media #{$sp} {
      margin-top: myrem(12);
    }

  }

}

.sitemap-nav__item + .sitemap-nav__item {
  margin-top: myrem(14);
}
