
/*
  ----------------
  useful-single
  ----------------
*/
.useful-single__main {
  margin-top: myrem(36);
}

.useful-single__containers {
  @media #{$sp} {
    padding-right: myrem(15);
    padding-left: myrem(15);
  }
}

.useful-single__wrapper {
  display: flex;
  justify-content: space-between;
  @media #{$sp} {
    display: block;
  }
}

.useful-single__body {
  width: calc(754/1240 * 100%);
  @media #{$sp} {
    width: 100%;
  }
}

.useful-single__sidebar {
  margin-top: myrem(36);
  @media #{$sp} {
    margin-top: myrem(80);
  }
}

.useful-single__sidebar {
  width: calc(538/1240 * 100%);
  margin-right: myrem(-100);
  padding-right: myrem(21);
  @media #{$sp} {
    width: 100%;
    padding-right: myrem(19);
    padding-left: myrem(19);
  }
}

.useful-single__contact {
  margin-top: myrem(160);
  @media #{$sp} {
    margin-top: myrem(130);
  }
}


/*==================================
.useful-entry
===================================*/
.useful-entry {
  background-color: $base-color;
  border-radius: myrem(10);
  box-shadow: $shadow;
  padding: myrem(52) myrem(48) myrem(46);
  @media #{$sp} {
    padding: 0 myrem(10) myrem(32);
    box-shadow: none;
  }
}

.useful-entry__head-wrapper {
  display: flex;
  justify-content: space-between;
  @media #{$sp} {
    flex-direction: column-reverse;
  }
}

.useful-entry__head-body {
  width: calc(370/670 * 100%);
  @media #{$sp} {
    width: 100%;
  }
}

.useful-entry__head-img {
  width: calc(276/670 * 100%);
  @media #{$sp} {
    width: 100%;
  }

  img {
    aspect-ratio: 276/187;
    object-fit: cover;
    width: 100%;
    height: auto;
    border-radius: myrem(10);
  }
}

.useful-entry__head-ttl {
  font-size: myrem(26);
  font-weight: 500;
  line-height: calc(47/26);
  letter-spacing: 0.06em;
  @media #{$sp} {
    font-size: myrem(22);
    margin-top: myrem(16);
  }
}

.useful-entry__head-meta {
  display: flex;
  align-items: center;
  align-items: flex-start;
  margin-top: myrem(20);
  @media #{$sp} {
    display: block;
    margin-top: 0;
  }
}

.useful-entry__head-time {
  font-size: myrem(16);
  font-weight: 300;
  letter-spacing: 0.04em;
  line-height: 1.3;
  flex-shrink: 0;
  @media #{$sp} {
    text-align: right;
  }
}

.useful-entry__categories {
  display: flex;
  margin-left: myrem(10);
  align-items: center;
  gap: myrem(10);
  flex-wrap: wrap;
  @media #{$sp} {
    margin-left: 0;
  }
}

.useful-entry__head-lead {
  font-size: myrem(16);
  font-weight: 300;
  line-height: calc(30/16);
  letter-spacing: 0.04em;
  margin-top: myrem(40);
  @media #{$sp} {
    font-size: myrem(16);
    margin-top: myrem(20);
  }
}

.useful-entry__table-contents {
  margin-top: myrem(48);
  @media #{$sp} {
    margin-top: myrem(40);
  }
}

.useful-entry__body {
  margin-top: myrem(41);

  h2 {
    font-size: myrem(20);
    font-weight: 500;
    line-height: calc(32/20);
    letter-spacing: 0.04em;
    padding-left: myrem(30);
    border-bottom: 2px solid $darkgreen;
    padding-bottom: myrem(8);
    position: relative;
    margin-top: myrem(65);
    @media #{$sp} {
      margin-top: myrem(44);
      padding-left: myrem(22);
    }

    &::before {
      content: "";
      display: inline-block;
      width: myrem(12);
      height: calc(100% - #{myrem(7)});
      background-color: $darkgreen;
      position: absolute;
      top: 0;
      left: 0;
      @media #{$sp} {
        width: myrem(8);
      }
    }
  }

  h3 {
    font-size: myrem(18);
    font-weight: 500;
    line-height: calc(31/18);
    letter-spacing: 0.04em;
    margin-top: myrem(67);
    padding-left: myrem(16);
    border-left: 8px solid $black;
    @media #{$sp} {
      border-left: 6px solid $black;
      margin-top: myrem(44);
    }
  }

  p {
    font-size: myrem(16);
    font-weight: 300;
    line-height: calc(30/16);
    letter-spacing: 0.04em;
    margin-top: myrem(40);
    @media #{$sp} {
      font-size: myrem(15);
      margin-top: myrem(32);
    }
  }

  p + p {
    margin-top: myrem(20);
  }

  figure {
    margin-top: myrem(29);
    margin-bottom: myrem(40);
    img {
      width: 100%;
    }
  }
}








/*====================================================================
slick
====================================================================*/
.useful-entry__head-slider {
	max-width: 100%;
	margin: 0 auto;
	padding: 0 myrem(64);
  margin-top: myrem(32);
  @media #{$sp} {
    padding: 0 myrem(20);
  }
}


.slick-slide {
	margin: 0 5px;
}
.slick-slide img {
	width: 100%;
	height: auto;
  aspect-ratio: 475/326;
  object-fit: cover;
}
.slick-prev, .slick-next {
	z-index: 1;
}

.slick-slide {
	transition: all ease-in-out .3s;
	opacity: .2;
}
.slick-active {
	opacity: 1;
}
.slick-current {
	opacity: 1;
}
.thumb {
	margin: 20px 0 0;
}
.thumb .slick-slide {
	cursor: pointer;
}
.thumb .slick-slide:hover {
	opacity: .7;
}

.slick-next {
  right: myrem(-35);
  top: 41%;
  @media #{$sp} {
    right: myrem(-18);
  }
}

.slick-next.slick-arrow::before {
  content: "";
  display: inline-block;
  width: myrem(62);
  height: myrem(62);
  background: url(../img/common/icon-arrow-next.png) no-repeat center /contain;
  @media #{$sp} {
    width: myrem(40);
    height: myrem(40);
  }
}

.slick-prev  {
  left: myrem(-75);
  top: 41%;
  @media #{$sp} {
    left: myrem(-38);
  }
}

.slick-prev.slick-arrow::before {
  content: "";
  display: inline-block;
  width: myrem(62);
  height: myrem(62);
  background: url(../img/common/icon-arrow-prev.png) no-repeat center /contain;
  @media #{$sp} {
    width: myrem(40);
    height: myrem(40);
  }
}