{% extends "layout/default.njk" %}

{# Custom SEO tags, leave blank to apply the default values #}
{% set title = "" %}
{% set description = "" %}
{% set keywords = "" %}

{# Page settings and also body class #}
{% set page = "" %}

{# Custom tags before </head> #}
{% block customHead %}
{% endblock %}

{# Custom tags before </body> #}
{% block customJs %}  
{% endblock %}

{# Main content #}
{% block content %}

<main class="top">
  <div class="mv">
    <div class="mv__containers containers">
      <div class="mv__content">
        <div class="mv__body">
          <h1 class="mv__logo">
            <img src="./assets/img/top/logo.svg" alt="">
          </h1>
          <p class="mv__lead">
            日本企業にとって<br class="sp-only">ベストなEVシフトを提案するメディア
          </p>
        </div>
        <div class="mv__img skew-img">
          <img src="./assets/img/top/img-mv.png" alt="" class="skew-img__front">
          <img src="./assets/img/top/img-mv.png" alt="" class="skew-img__back">
        </div>
      </div>
    </div>
  </div>

</main>

{% endblock %}