{% extends "layout/default.njk" %}

{# Custom SEO tags, leave blank to apply the default values #}
{% set title = "EV Start Biz" %}
{% set description = "" %}
{% set keywords = "" %}

{# Page settings and also body class #}
{% set page = "top" %}

{# Custom tags before </head> #}
{% block customHead %}
{% endblock %}

{# Custom tags before </body> #}
{% block customJs %}
{% endblock %}

{# Main content #}
{% block content %}

<main class="top__main">
  <!-- メインビュー -->
  <div class="mv top__mv">
    <div class="mv__containers containers">
      <div class="mv__content">
        <div class="mv__body">
          <!-- ロゴ -->
          <h1 class="mv__logo" data-aos="fade-right" data-aos-duration="900" data-aos-delay="600">
            <img src="/assets/img/common/logo.png" alt="EV Start Biz">
          </h1>
          <!-- リード -->
          <p class="mv__lead" data-aos="fade-right" data-aos-duration="900" data-aos-delay="1000">
            日本企業にとって<br class="sp-only">ベストなEVシフトを提案するメディア
          </p>
        </div>
        <!-- 画像 -->
        <div class="mv__img skew-img" data-aos="fade-left" data-aos-duration="900" data-aos-delay="1800">
          <div class="skew-img__front">
            <picture>
              <source media="(max-width: 768px)" srcset="./assets/img/top/img-mv-sp.png">
              <img src="/assets/img/top/img-mv.png" alt="">
            </picture>
          </div>
          <img src="/assets/img/top/img-mv.png" alt="" class="skew-img__back">
        </div>
      </div>
      <!-- 車 -->
      <div class="mv__car" data-aos="fade-in" data-aos-duration="2000">
        <img src="/assets/img/top/img-car.png" alt="">
      </div>
    </div>
    <!-- 背景 -->
    <picture class="mv__bg" data-aos="fade-in" data-aos-duration="2000">
      <source media="(max-width: 768px)" srcset="/assets/img/top/bg-mv-sp.png">
      <img src="/assets/img/top/bg-mv.png" alt="">
    </picture>
  </div>


  <!-- 導入実績 -->
  <div class="result top__result">
    <div class="containers result__containers">
      <div class="result__wrapper" data-aos="fade-up">
        <div class="result__head">
          <p class="result__ttl">NTTグループ <br class="sp-only">EV充電制御 導入実績<br class="sp-only">
            <span class="result__note">※2023年6月時点</span>
          </p>
        </div>
        <div class="result__content flex jcC">
          <div class="result__item">
            <p class="result__sub-ttl">導入施設数</p>
            <div class="result__num js-count"><span class="large js-num" data-num="173">0</span>ヵ所</div>
            <div class="result__img">
              <img src="/assets/img/common/img-result01.png" alt="">
            </div>
          </div>
          <div class="result__item">
            <p class="result__sub-ttl">導入台数</p>
            <p class="result__num js-count"><span class="large js-num" data-num="595">0</span>台</p>
            <div class="result__img">
              <img src="/assets/img/common/img-result02.png" alt="">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- about -->
  <section class="top-about top__about">
    <div class="containers">
      <div class="top-about__wrapper flex nowrap">
        <div class="top-about__img skew-img02" data-aos="fade-right">
          <img src="/assets/img/top/img-about.png" alt="" class="skew-img02__front">
          <img src="/assets/img/top/img-about.png" alt="" class="skew-img02__back">
        </div>
        <div class="top-about__body">
          <h2 class="top-about__ttl ttl-primary--img">
            <img src="/assets/img/common/ttl-about.png" alt="about ev start biz">
          </h2>
          <p class="top-about__text">
            『EV Start Biz』とは、NTTグループのEVシフトへの取り組みをご紹介するとともに、企業のEVシフトをサポートする情報をお届けするサイトです。
          </p>
          <div class="top-about__btn">
            <a href="#" class="btn01 --large">さらに見る</a>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- column -->
  <section class="top__column common-column ">
    <div class="containers--sm">
      <div class="common-column__wrapper flex">
        <div class="common-column__content01">
          <div class="common-column__ttl ttl-primary">
            <div class="img">
              <img src="/assets/img/common/ttl-column.png" alt="column">
            </div>
            <h2 class="ttl">お役立ちコラム</h2>
          </div>
          <div class="common-column__form">
            <form role="search" method="get" action="" class="search-form">
              <input type="text" size="25" class="search-form__text" placeholder="キーワードから検索する">
            </form>
          </div>
          <ul class="common-column__categories">
            <!-- loop start -->
            <li class="column__cat">
              <a href="#" class="cat --large --link">環境対策トレンド</a>
            </li>
            <li class="column__cat">
              <a href="#" class="cat --large --link">EV市場の現状</a>
            </li>
            <li class="column__cat">
              <a href="#" class="cat --large --link">EVの基礎知識</a>
            </li>
            <li class="column__cat">
              <a href="#" class="cat --large --link">EV充電のポイント</a>
            </li>
            <li class="column__cat">
              <a href="#" class="cat --large --link">社用車EVシフトのノウハウ</a>
            </li>
            <!-- loop end -->
          </ul>
        </div>
        <div class="common-column__content02">
          <ul class="common-column__list">
            <li class="common-column__item" data-aos="fade-up">
              <a href="#" class="card01">
                <div class="card01__img">
                  <img src="/assets/img/common/sample01.jpg" alt="">
                </div>
                <div class="card01__body">
                  <div class="card01__wrapper">
                    <div class="card01__categories">
                      <span class="cat">環境対策トレンド</span>
                    </div>
                    <h3 class="card01__ttl">コラムタイトルが入ります。コラムタイトルが入ります。コラムタイトルが入ります。</h3>
                  </div>
                  <time class="card01__meta" datetime="2023-01-01">2023.1.1</time>
                </div>
              </a>
            </li>
            <li class="common-column__item" data-aos="fade-up">
              <a href="#" class="card01">
                <div class="card01__img">
                  <img src="/assets/img/common/img01.jpg" alt="">
                </div>
                <div class="card01__body">
                  <div class="card01__wrapper">
                    <div class="card01__categories">
                      <span class="cat">EV市場の現状</span>
                    </div>
                    <h3 class="card01__ttl">【行数制限】PC時は2行まで、SP時は3行まで表示。はみ出したテキストは3点リーダー（…）に省略します。</h3>
                  </div>
                  <time class="card01__meta" datetime="2023-01-01">2023.1.1</time>
                </div>
              </a>
            </li>
            <li class="common-column__item" data-aos="fade-up">
              <a href="#" class="card01">
                <div class="card01__img">
                  <img src="/assets/img/top/img-recommend02.jpg" alt="">
                </div>
                <div class="card01__body">
                  <div class="card01__wrapper">
                    <div class="card01__categories">
                      <span class="cat">EVの基礎知識</span>
                    </div>
                    <h3 class="card01__ttl">コラムタイトルが入ります。コラムタイトルが入ります。コラムタイトルが入ります。</h3>
                  </div>
                  <time class="card01__meta" datetime="2023-01-01">2023.1.1</time>
                </div>
              </a>
            </li>
            <li class="common-column__item" data-aos="fade-up">
              <a href="#" class="card01">
                <div class="card01__img">
                  <img src="/assets/img/top/img-recommend01.jpg" alt="">
                </div>
                <div class="card01__body">
                  <div class="card01__wrapper">
                    <div class="card01__categories">
                      <span class="cat">EV充電のポイント</span>
                    </div>
                    <h3 class="card01__ttl">
                      コラムタイトルが入ります。コラムタイトルが入ります。コラムタイトルが入ります。コラムタイトルが入ります。コラムタイトルが入ります。コラムタイトルが入ります。</h3>
                  </div>
                  <time class="card01__meta" datetime="2023-01-01">2023.1.1</time>
                </div>
              </a>
            </li>
          </ul>
          <div class="common-column__btn">
            <a href="#" class="btn01 --large">コラム一覧へ</a>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- recommend -->
  <section class="top-recommend top__recommend">
    <div class="containers--sm">
      <div class="top-column__ttl ttl-primary --center">
        <div class="img">
          <img src="/assets/img/common/ttl-recommend.png" alt="recommend">
        </div>
        <h2 class="ttl">EV導入を考え始めた方向け<br class="sp-only">おすすめコンテンツ</h2>
      </div>
      <ul class="top-recommend__list">
        <li class="top-recommend__item" data-aos="fade-up">
          <a href="" class="card02">
            <div class="card02__img">
              <img src="/assets/img/top/img-recommend01.jpg" alt="">
            </div>
            <div class="card2__body">
              <div class="card2__ttl">EV車導入を<br class="sp-only">お考えの企業さまへ</div>
              <div class="card2__btn">
                <p class="btn01">おすすめコンテンツを見る</p>
              </div>
            </div>
          </a>
        </li>
        <li class="top-recommend__item" data-aos="fade-up">
          <a href="" class="card02">
            <div class="card02__img">
              <img src="/assets/img/top/img-recommend02.jpg" alt="">
            </div>
            <div class="card2__body">
              <div class="card2__ttl">スマート充電サービス <br class="sp-only">EnneEV®</div>
              <div class="card2__btn">
                <p class="btn01">サービスについて知る</p>
              </div>
            </div>
          </a>
        </li>
        <li class="top-recommend__item" data-aos="fade-up">
          <a href="" class="card02">
            <div class="card02__img">
              <img src="/assets/img/top/img-recommend03.jpg" alt="">
            </div>
            <div class="card2__body">
              <div class="card2__ttl">「よくあるギモン」</div>
              <div class="card2__btn">
                <p class="btn01">Q&Aを見る</p>
              </div>
            </div>
          </a>
        </li>
      </ul>
    </div>
  </section>

  <!-- document -->
  <section class="top__document common-document" id="introduction-document">
    <div class="common-document__container containers">
      <div class="common-document__wrapper">
        <div class="common-document__ttl ttl-primary --center --white --document">
          <div class="img">
            <img src="/assets/img/common/ttl-document.png" alt="document">
          </div>
          <h2 class="ttl">お役立ち資料</h2>
        </div>
        <div class="common-document__content">
          <div class="common-document__item" data-aos="fade-up">
            <div class="img">
              <img src="/assets/img/common/img-document01.png" alt="資料">
            </div>
            <div class="body">
              <div class="wrapper">
                <div class="ttl">
                  資料タイトルが入ります。資料タイトルが入ります。資料タイトルが入ります。
                </div>
                <div class="text">
                  テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。
                </div>
              </div>
              <div class="btn">
                <a href="" class="btn btn01 --yellow">詳細・ダウンロードはこちら</a>
              </div>
            </div>
          </div>
          <div class="common-document__item" data-aos="fade-up">
            <div class="img">
              <img src="/assets/img/common/img-document01.png" alt="資料">
            </div>
            <div class="body">
              <div class="wrapper">
                <div class="ttl">
                  資料タイトルが入ります。資料タイトルが入ります。
                </div>
                <div class="text">
                  テキストが入ります。テキストが入ります。テキストが入ります。
                </div>
              </div>
              <div class="btn">
                <a href="" class="btn01 --yellow">詳細・ダウンロードはこちら</a>
              </div>
            </div>
          </div>
        </div>
        <div class="common-document__btn">
          <a href="#" class="btn01 --large">資料一覧へ</a>
        </div>
      </div>
    </div>
  </section>

  <!-- news -->
  <section class="top-news top__news">
    <div class="containers--sm">
      <div class="top-news__ttl ttl-primary --center">
        <div class="img">
          <img src="/assets/img/common/ttl-news.png" alt="news">
        </div>
        <h2 class="ttl">ニュース・最新情報</h2>
      </div>

      <div class="top-news__tab news-tab" data-aos="fade-up">
        <ul class="news-tab__list js-tab-menu">
          <li class="news-tab__menu js-tab current">すべて</li>
          <li class="news-tab__menu js-tab">ニュース</li>
          <li class="news-tab__menu js-tab">コラム</li>
          <li class="news-tab__menu js-tab">お知らせ</li>
          <li class="news-tab__menu js-tab">イベント</li>
        </ul>
      </div>

      <div class="top-news__content news-list">
        <ul class="top-news__list news-list__items" data-aos="fade-up">
          <!-- loop start -->
          <li class="news-list__item">
            <a href="#" class="news-list__link">
              <div class="news-list__item-meta">
                <time class="news-list__item-time" datetime="2023-08-18">2023.8.18</time>
                <span class="news-list__item-cat cat --small --blue">ニュース</span>
              </div>
              <div class="news-list__item-body">
                <h3 class="news-list__item-ttl">
                  おしらせのタイトルが入ります。おしらせのタイトルが入ります。おしらせのタイトルが入ります。おしらせのタイトルが入ります。おしらせのタイトルが入ります。おしらせのタイトルが入ります。</h3>
              </div>
            </a>
          </li>
          <li class="news-list__item">
            <a href="#" class="news-list__link">
              <div class="news-list__item-meta">
                <time class="news-list__item-time" datetime="2023-07-07">2023.7.7</time>
                <span class="news-list__item-cat cat --small">コラム</span>
              </div>
              <div class="news-list__item-body">
                <h3 class="news-list__item-ttl">【行数制限】PC時は2行まで、SP時は4行まで表示。はみ出したテキストは3点リーダー（…）に省略します。</h3>
              </div>
            </a>
          </li>
          <li class="news-list__item">
            <a href="#" class="news-list__link">
              <div class="news-list__item-meta">
                <time class="news-list__item-time" datetime="2022-12-25">2022.12.25</time>
                <span class="news-list__item-cat cat --small --yellow">お知らせ</span>
              </div>
              <div class="news-list__item-body">
                <h3 class="news-list__item-ttl">おしらせのタイトルが入ります。おしらせのタイトルが入ります。おしらせのタイトルが入ります。</h3>
              </div>
            </a>
          </li>
          <li class="news-list__item">
            <a href="#" class="news-list__link">
              <div class="news-list__item-meta">
                <time class="news-list__item-time" datetime="2022-11-11">2022.11.11</time>
                <span class="news-list__item-cat cat --small --orange">イベント</span>
              </div>
              <div class="news-list__item-body">
                <h3 class="news-list__item-ttl">
                  おしらせのタイトルが入ります。おしらせのタイトルが入ります。おしらせのタイトルが入ります。おしらせのタイトルが入ります。おしらせのタイトルが入ります。</h3>
              </div>
            </a>
          </li>
          <li class="news-list__item">
            <a href="#" class="news-list__link">
              <div class="news-list__item-meta">
                <time class="news-list__item-time" datetime="2022-09-03">2022.9.3</time>
                <span class="news-list__item-cat cat --small">NEWS</span>
              </div>
              <div class="news-list__item-body">
                <h3 class="news-list__item-ttl">
                  おしらせのタイトルが入ります。おしらせのタイトルが入ります。おしらせのタイトルが入ります。おしらせのタイトルが入ります。おしらせのタイトルが入ります。おしらせのタイトルが入ります。おしらせのタイトルが入ります。おしらせのタイトルが入ります。おしらせのタイトルが入ります。おしらせのタイトルが入ります。
                </h3>
              </div>
            </a>
          </li>
          <!-- loop end -->
        </ul>
        <div class="news-list__btn">
          <a href="" class="btn01  --large">ニュース一覧へ</a>
        </div>
      </div>
    </div>
  </section>

  <!-- contact -->
  <section class="top__contact common-contact">
    <div class="containers--sm">
      <div class="common-contact__ttl ttl-primary --center">
        <div class="img">
          <img src="/assets/img/common/ttl-contact.png" alt="contact us">
        </div>
        <h2 class="ttl">ご相談・お問合せ</h2>
      </div>
      <p class="common-contact__text" data-aos="fade-up">EV導入や運用に関する<span>お問合せ・ご相談はお気軽に</span><span>ご連絡ください。</span></p>
      <div class="common-contact__btn" data-aos="fade-up">
        <a href="#" class="btn02">まずは相談・問合せする</a>
      </div>
      <div class="common-contact__document" data-aos="fade-up">
        <p class="common-contact__document-text">サービス資料・お役立ち資料を<span>ご希望の方はこちら</span></p>
        <div class="common-contact__document-btn">
          <a href="#" class="btn02 --yellow --sp-small">サービス資料</a>
          <a href="#" class="btn02 --yellow --sp-small">お役立ち資料</a>
        </div>
      </div>
    </div>
  </section>
</main>


{% endblock %}