<footer class="footer">
  <div class="footer__body">
    <div class="footer__containers containers flex">
      <div class="footer__content">
        <div class="footer__logo">
          <img src="/assets/img/common/logo-white.svg" alt="EV Start Biz">
        </div>
        <ul class="footer__link">
          <li class="footer__link-item">
            <a href="">プライバシーポリシー </a>
          </li>
          <li class="footer__link-item">
            <a href="">Cookieポリシー</a>
          </li>
          <li class="footer__link-item">
            <a href="">運営会社</a>
          </li>
        </ul>
      </div>
      <nav class="footer__nav flex">
        <div class="footer__nav-content">
          <p class="parent">
            <a href="/about/">『EV Start Biz』 とは</a>
          </p>
          <p class="parent">
            <a href="/ev_introduction/">EV車導入をお考えの企業さまへ</a>
          </p>
          <p class="parent">
            <a href="/qa/">よくあるギモン</a>
          </p>
          <p class="parent">
            <a href="/solution/enneev/">ソリューション</a>
          </p>
          <ul class="footer__nav-list">
            <li class="footer__nav-item">
              <a href="">&nbsp;スマート充電サービス EnneEV®</a>
            </li>
          </ul>
        </div>
        <div class="footer__nav-content">
          <p class="parent">
            <a href="">お役立ち情報</a>
          </p>
          <ul class="footer__nav-list">
            <li class="footer__nav-item">
              <a href="">&nbsp;お役立ちコラム</a>
            </li>
            <li class="footer__nav-item">
              <a href="">&nbsp;お役立ち資料</a>
            </li>
            <li class="footer__nav-item">
              <a href="/news/">&nbsp;ニュースリリース</a>
            </li>
          </ul>
          <p class="parent">
            <a href="">お問合せ</a>
          </p>
          <ul class="footer__nav-list">
            <li class="footer__nav-item">
              <a href="">&nbsp;サービス資料</a>
            </li>
            <li class="footer__nav-item">
              <a href="">&nbsp;ご相談・お問合せ</a>
            </li>
          </ul>
        </div>
      </nav>
    </div>
  </div>
  <div class="footer__bottom">
    <div class="container">
      <p class="footer__copy">Copyright（C）2023 ENNET Corporation All rights reserved.</p>
    </div>
  </div>
</footer>