<header class="header" id="header">
	<div class="header__containers containers">
		<div class="header__body js-drawer">
			<div class="header__body-inner">
				<nav class="header__nav">
					<ul class="header__nav-list">
						<li class="header__nav-item">
							<a href="">ホーム</a>
						</li>
						<li class="header__nav-item">
							<a href="">EV Start Biz』とは</a>
						</li>
						<li class="header__nav-item">
							<a href="">EV車導入をお考えの企業さまへ</a>
						</li>
						<li class="header__nav-item">
							<a href="">よくあるギモン</a>
						</li>
						<li class="header__nav-item">
							<a href="">コラム</a>
						</li>
						<li class="header__nav-item">
							<a href="">ソリューション</a>
						</li>
						<li class="header__nav-item">
							<a href="">運営会社</a>
						</li>
					</ul>
				</nav>
				<div class="header__cta">
					<a href="#" class="header__btn">お役立ち資料</a>
					<a href="#" class="header__btn">ご相談・お問合せ</a>
				</div>
			</div>
		</div>
	</div>
</header>

<button class="hamburger-btn js-hamburger-btn">
	<span></span>
	<span></span>
	<span></span>
</button>

<div class="overlay js-overlay"></div>

<div class="header-sub" id="header-sub">
	<div class="header__containers containers">
		<div class="header__body">
			<div class="header__body-inner">
				<nav class="header__nav">
					<ul class="header__nav-list">
						<li class="header__nav-item">
							<a href="">ホーム</a>
						</li>
						<li class="header__nav-item">
							<a href="">EV Start Biz』とは</a>
						</li>
						<li class="header__nav-item">
							<a href="">EV車導入をお考えの企業さまへ</a>
						</li>
						<li class="header__nav-item">
							<a href="">よくあるギモン</a>
						</li>
						<li class="header__nav-item">
							<a href="">コラム</a>
						</li>
						<li class="header__nav-item">
							<a href="">ソリューション</a>
						</li>
						<li class="header__nav-item">
							<a href="">運営会社</a>
						</li>
					</ul>
				</nav>
				<div class="header__cta">
					<a href="#" class="header__btn">お役立ち資料</a>
					<a href="#" class="header__btn">ご相談・お問合せ</a>
				</div>
			</div>
		</div>
	</div>
</div>