{% extends "layout/default.njk" %}

{# Custom SEO tags, leave blank to apply the default values #}
{% set title = "EV導入をお考えの企業さまへ｜EV Start Biz" %}
{% set description = "EV導入までの流れや、導入検討中の企業さまへおすすめのコンテンツについてご紹介します。" %}
{% set keywords = "" %}

{# Page settings and also body class #}
{% set page = "" %}

{# Custom tags before </head> #}
{% block customHead %}
{% endblock %}

{# Custom tags before </body> #}
{% block customJs %}
{% endblock %}

{# Main content #}
{% block content %}

<!-- breadcrumbs -->
<div class="breadcrumb">
  <div class="containers--sm">
    <ul class="flex fS">
      <li>
        <a href="/">ホーム</a>
      </li>
      <li>
        お役立ちコラム
      </li>
    </ul>
  </div>
</div>

<main class="column-single__main">
  <div class="column-single__containers containers--md">
    <div class="column-single__wrapper">
      <div class="column-single__body">
        <div class="column-single__entry column-entry">
          <div class="column-entry__head">
            <div class="column-entry__head-wrapper">
              <div class="column-entry__head-body">
                <h1 class="column-entry__head-ttl">コラムタイトルが入ります。コラムタイトルが入り（32文字で設定）</h1>
                <div class="column-entry__head-meta">
                  <time class="column-entry__head-time">更新日&nbsp;2023.1.1</time>
                  <div class="column-entry__categories">
                    <span class="cat">環境対策トレンド</span>
                    <span class="cat">社用車EVシフトのノウハウ</span>
                  </div>
                </div>
              </div>
              <div class="column-entry__head-img">
                <img src="/assets/img/common/sample01.jpg" alt="">
              </div>
            </div>
            <p class="column-entry__head-lead">
              コラムのリード文が入ります。コラムのリード文が入ります。コラムのリード文が入ります。コラムのリード文が入ります。コラムのリード文が入ります。コラムのリード文が入ります。コラムのリード文が入ります。コラムのリード文が入ります。コラムのリード文が入ります。コラムのリード文が入ります。コラムのリード文が入ります。コラムのリード文が入ります。コラムのリード文が入ります。コラムのリード文が入ります。コラムのリード文が入ります。コラムのリード文が入ります。コラムのリード文が入ります。コラムのリード文が入ります。コラムのリード文が入ります。
            </p>
          </div>

          <!-- 目次 -->
          <div id="toc_container" class="column-entry__table-contents">
            <p class="toc_title">目次</p>
            <ul class="toc_list">
              <li><a href="">段落（タイトル）が入ります。段落（タイトル）が入ります。</a>
                <ul>
                  <li><a href="#">小見出し（タイトル）が入ります。</a></li>
                  <li><a href="#">小見出し（タイトル）が入ります。</a></li>
                </ul>
              </li>
              <li><a href="">段落（タイトル）が入ります。段落（タイトル）が入ります。段落（タイトル）が入ります。段落（タイトル）が入ります。</a>
                <ul>
                  <li><a href="#">小見出し（タイトル）が入ります。小見出し（タイトル）が入ります。小見出し（タイトル）が入ります。</a></li>
                  <li><a href="#">小見出し（タイトル）が入ります。小見出し（タイトル）が入ります。小見出し（タイトル）が入ります。</a></li>
                </ul>
              </li>
            </ul>
          </div>

          <!-- entry-body -->
          <div class="column-entry__body entry-body">
            <h2>
              h2：段落（タイトル）が入ります。
            </h2>
            <figure>
              <img src="/assets/img/top/img-recommend02.jpg" alt="">
            </figure>
            <p>
              段落（本文）が入ります。段落（本文）が入ります。段落（本文）が入ります。段落（本文）が入ります。段落（本文）が入ります。段落（本文）が入ります。段落（本文）が入ります。段落（本文）が入ります。段落（本文）が入ります。段落（本文）が入ります。段落（本文）が入ります。段落（本文）が入ります。段落（本文）が入ります。段落（本文）が入ります。
            </p>
            <p>
              段落（本文）が入ります。段落（本文）が入ります。段落（本文）が入ります。段落（本文）が入ります。段落（本文）が入ります。段落（本文）が入ります。段落（本文）が入ります。段落（本文）が入ります。段落（本文）が入ります。段落（本文）が入ります。段落（本文）が入ります。段落（本文）が入ります。段落（本文）が入ります。段落（本文）が入ります。
            </p>
            <h3>
              h3：段落（タイトル）が入ります。段落（タイトル）が入ります。
            </h3>
            <p>
              段落（本文）が入ります。段落（本文）が入ります。段落（本文）が入ります。段落（本文）が入ります。段落（本文）が入ります。段落（本文）が入ります。段落（本文）が入ります。段落（本文）が入ります。段落（本文）が入ります。段落（本文）が入ります。段落（本文）が入ります。段落（本文）が入ります。段落（本文）が入ります。段落（本文）が入ります。
            </p>
            <p>
              段落（本文）が入ります。段落（本文）が入ります。段落（本文）が入ります。段落（本文）が入ります。段落（本文）が入ります。段落（本文）が入ります。段落（本文）が入ります。段落（本文）が入ります。段落（本文）が入ります。段落（本文）が入ります。段落（本文）が入ります。段落（本文）が入ります。段落（本文）が入ります。段落（本文）が入ります。
            </p>
            <h2>
              h2：段落（タイトル）が入ります。段落（タイトル）が入ります。段落（タイトル）が入ります。
            </h2>
            <figure>
              <img src="/assets/img/top/img-recommend02.jpg" alt="">
            </figure>
            <p>
              段落（本文）が入ります。段落（本文）が入ります。段落（本文）が入ります。段落（本文）が入ります。段落（本文）が入ります。段落（本文）が入ります。段落（本文）が入ります。段落（本文）が入ります。段落（本文）が入ります。段落（本文）が入ります。段落（本文）が入ります。段落（本文）が入ります。段落（本文）が入ります。段落（本文）が入ります。
            </p>
            <p>
              段落（本文）が入ります。段落（本文）が入ります。段落（本文）が入ります。段落（本文）が入ります。段落（本文）が入ります。段落（本文）が入ります。段落（本文）が入ります。段落（本文）が入ります。段落（本文）が入ります。段落（本文）が入ります。段落（本文）が入ります。段落（本文）が入ります。段落（本文）が入ります。段落（本文）が入ります。
            </p>
            <h3>
              h3：段落（タイトル）が入ります。段落（タイトル）が入ります。段落（タイトル）が入ります。段落（タイトル）が入ります。
            </h3>
            <p>
              段落（本文）が入ります。段落（本文）が入ります。段落（本文）が入ります。段落（本文）が入ります。段落（本文）が入ります。段落（本文）が入ります。段落（本文）が入ります。段落（本文）が入ります。段落（本文）が入ります。段落（本文）が入ります。段落（本文）が入ります。段落（本文）が入ります。段落（本文）が入ります。段落（本文）が入ります。
            </p>

          </div>

          <!-- entry-document -->
          <div class="column-single__document entry-document" data-aos="fade-up">
            <div class="entry-document__img">
              <img src="/assets/img/common/img-document01.png" alt="資料">
            </div>
            <div class="entry-document__body">
              <p class="entry-document__ttl">
                資料タイトルが入ります。資料タイトルが入ります。資料タイトルが入ります。
              </p>
              <p class="entry-document__text">
                資料タイトルが入ります。資料タイトルが入ります。資料タイトルが入ります。
              </p>
              <div class="entry-document__btn">
                <a href="" class="btn01 --yellow --small">ダウンロードページへ</a>
              </div>
            </div>
          </div>

          <!-- entry-author -->
          <div class="column-single__author entry-author" data-aos="fade-up">
            <figure class="entry-author__img">
              <img src="/assets/img/top/img-recommend02.jpg" alt="">
              <figcaption>この記事の監修者</figcaption>
            </figure>
            <div class="entry-author__body">
              <p class="entry-author__occupation">職種</p>
              <p class="entry-author__author">監修者名</p>
              <p class="entry-author__division">会社・所属部署名</p>
              <p class="entry-author__detail">
                略歴・経歴の紹介文が入ります。略歴・経歴の紹介文が入ります。略歴・経歴の紹介文が入ります。略歴・経歴の紹介文が入ります。略歴・経歴の紹介文が入ります。略歴・経歴の紹介文が入ります。略歴・経歴の紹介文が入ります。略歴・経歴の紹介文が入ります。
              </p>
            </div>
          </div>

          <!-- entry-editor -->
          <div class="column-single__editor entry-editor" data-aos="fade-up">
            <div class="entry-editor__content">
              <div class="entry-editor__logo">
                <img src="/assets/img/common/logo.png" alt="EV Start Biz">
              </div>
              <p class="text">編集部</p>
            </div>
            <div class="entry-editor__body">
              <p class="entry-editor__ttl">『EV Start Biz』編集部</p>
              <p class="entry-editor__text">環境対策のトレンドをはじめ、EVの基礎知識やEVシフトのノウハウに関するお役立ち情報をお届けいたします。
              </p>
            </div>
          </div>
        </div>

        <!-- entry-relation -->
        <div class="column-single__relation entry-relation" data-aos="fade-up">
          <h2 class="entry-relation__ttl">この記事に関連する<span>コラムをご紹介</span></h2>
          <ul class="entry-relation__list">
            <li class="entry-relation__item">
              <a href="" class="entry-relation__link">
                <div class="entry-relation__item-img">
                  <img src="/assets/img/top/img-recommend02.jpg" alt="">
                </div>
                <p class="entry-relation__item-ttl">
                  コラムタイトルが入りますコラムタイトルが入りますコラムタイトルが入りますコラムタイトルが入ります
                </p>
              </a>
            </li>
            <li class="entry-relation__item">
              <a href="" class="entry-relation__link">
                <div class="entry-relation__item-img">
                  <img src="/assets/img/top/img-recommend02.jpg" alt="">
                </div>
                <p class="entry-relation__item-ttl">
                  コラムタイトルが入りますコラムタイトルが入りますコラムタイトルが入りますコラムタイトルが入ります
                </p>
              </a>
            </li>
            <li class="entry-relation__item">
              <a href="" class="entry-relation__link">
                <div class="entry-relation__item-img">
                  <img src="/assets/img/top/img-recommend02.jpg" alt="">
                </div>
                <p class="entry-relation__item-ttl">
                  コラムタイトルが入りますコラムタイトルが入りますコラムタイトルが入りますコラムタイトルが入ります
                </p>
              </a>
            </li>
          </ul>
        </div>

        <!-- entry-keyword -->
        <div class="column-single__keyword entry-keyword" data-aos="fade-up">
          <h2 class="entry-keyword__ttl">関連キーワードから探す</h2>
          <ul class="entry-keyword__list">
            <!-- loop start -->
            <li class="entry-keyword__item">
              <a href="">キーワードがはいります</a>
            </li>
            <li class="entry-keyword__item">
              <a href="">キーワード</a>
            </li>
            <li class="entry-keyword__item">
              <a href="">キーワードがはいります</a>
            </li>
            <li class="entry-keyword__item">
              <a href="">キーワードIN</a>
            </li>
            <li class="entry-keyword__item">
              <a href="">キーワードがはいりますキーワードがはいります</a>
            </li>
            <li class="entry-keyword__item">
              <a href="">キーワードがはいります</a>
            </li>
            <!-- loop end -->
          </ul>
        </div>
      </div>

      <!-- sidebar -->
      <aside class="column-single__sidebar sidebar --col2">
        <div class="sidebar__content">
          <div class="sidebar01__search" data-aos="fade-up">
            <form role="search" method="get" action="" class="search-form">
              <input type="text" size="25" class="search-form__text" placeholder="キーワードから検索する">
            </form>
          </div>
          <div class="sidebar__body">
            <div class="sidebar__wrapper01">
              <div class="sidebar01__category">
                <h3 class="sidebar01__category-ttl ttl-secondary --large" data-aos="fade-up">
                  カテゴリで探す
                </h3>
                <ul class="sidebar__category-list" data-aos="fade-up">
                  <!-- loop start -->
                  <li class="sidebar__category-cat">
                    <a href="#" class="cat --large --link">環境対策トレンド</a>
                  </li>
                  <li class="sidebar01__category-cat">
                    <a href="#" class="cat --large --link">EV市場の現状</a>
                  </li>
                  <li class="sidebar01__category-cat">
                    <a href="#" class="cat --large --link">EVの基礎知識</a>
                  </li>
                  <li class="sidebar01__category-cat">
                    <a href="#" class="cat --large --link">EV充電のポイント</a>
                  </li>
                  <li class="sidebar01__category-cat">
                    <a href="#" class="cat --large --link">社用車EVシフトのノウハウ</a>
                  </li>
                  <!-- loop end -->
                </ul>
              </div>

              <!-- 人気コラム -->
              <div class="sidebar__popular" data-aos="fade-up">
                <h3 class="sidebar__popular-ttl ttl-secondary --white --large">
                  人気コラムTOP5
                </h3>
                <ul class="sidebar__popular-list">
                  <!-- loop start -->
                  <li class="sidebar__popular-item">
                    <a href="#" class="sidebar__popular-link">
                      <div class="img">
                        <img src="/assets/img/common/sample01.jpg" alt="">
                      </div>
                      <h4 class="ttl">
                        コラムタイトルが入ります。コラムタイトルが入ります。コラムタイトルが入ります。コラムタイトルが入ります。
                      </h4>
                    </a>
                  </li>
                  <li class="sidebar__popular-item">
                    <a href="#" class="sidebar__popular-link">
                      <div class="img">
                        <img src="/assets/img/common/sample01.jpg" alt="">
                      </div>
                      <h4 class="ttl">
                        コラムタイトルが入ります。コラムタイトルが入ります。コラムタイトルが入ります。コラムタイトルが入ります。
                      </h4>
                    </a>
                  </li>
                  <li class="sidebar__popular-item">
                    <a href="#" class="sidebar__popular-link">
                      <div class="img">
                        <img src="/assets/img/common/sample01.jpg" alt="">
                      </div>
                      <h4 class="ttl">
                        コラムタイトルが入ります。コラムタイトルが入ります。コラムタイトルが入ります。コラムタイトルが入ります。
                      </h4>
                    </a>
                  </li>
                  <li class="sidebar__popular-item">
                    <a href="#" class="sidebar__popular-link">
                      <div class="img">
                        <img src="/assets/img/common/sample01.jpg" alt="">
                      </div>
                      <h4 class="ttl">
                        コラムタイトルが入ります。コラムタイトルが入ります。コラムタイトルが入ります。コラムタイトルが入ります。
                      </h4>
                    </a>
                  </li>
                  <li class="sidebar__popular-item">
                    <a href="#" class="sidebar__popular-link">
                      <div class="img">
                        <img src="/assets/img/common/sample01.jpg" alt="">
                      </div>
                      <h4 class="ttl">
                        コラムタイトルが入ります。コラムタイトルが入ります。コラムタイトルが入ります。コラムタイトルが入ります。
                      </h4>
                    </a>
                  </li>
                  <!-- loop start -->
                </ul>
              </div>
            </div>

            <!-- サイドバー右側 -->
            <div class="sidebar__wrapper02">
              <div class="sidebar__btn01" data-aos="fade-up">
                <a href="" class="btn02 --large">
                  <span class="small">EV導入・運用に関する</span><br>
                  ご相談<br class="pc-only"><span class="dot">・</span>お問合せ
                </a>
              </div>
              <div class="sidebar__document" data-aos="fade-up">
                <div class="sidebar__document-img">
                  <img src="/assets/img/common/img-document01.png" alt="資料">
                </div>
                <div class="sidebar__document-btn">
                  <a href="#" class="btn01 --yellow --small">お役立ち資料をもらう</a>
                </div>
              </div>
              <div class="sidebar__btn02-area" data-aos="fade-up">
                <div class="fukidashi --lightblue">
                  EV(電気自動車)の<br class="pc-only">導入までの流れなどを<br class="pc-only">ご紹介
                </div>
                <div class="sidebar__btn02">
                  <a href="" class="btn01 --blue-line">おすすめの<br class="pc-only">コンテンツを見る</a>
                </div>
              </div>
            </div>

          </div>
        </div>
      </aside>
    </div>
  </div>

  <!-- contact -->
  <section class="column-single__contact common-contact">
    <div class="containers--sm">
      <div class="common-contact__ttl ttl-primary --center">
        <div class="img">
          <img src="/assets/img/common/ttl-contact.png" alt="contact us">
        </div>
        <h2 class="ttl">ご相談・お問合せ</h2>
      </div>
      <p class="common-contact__text" data-aos="fade-up">EV導入や運用に関する<span>お問合せ・ご相談はお気軽に</span><span>ご連絡ください。</span></p>
      <div class="common-contact__btn" data-aos="fade-up">
        <a href="#" class="btn02">まずは相談・問合せする</a>
      </div>
      <div class="common-contact__document" data-aos="fade-up">
        <p class="common-contact__document-text">サービス資料・お役立ち資料を<span>ご希望の方はこちら</span></p>
        <div class="common-contact__document-btn">
          <a href="#" class="btn02 --yellow --sp-small">サービス資料</a>
          <a href="#" class="btn02 --yellow --sp-small">お役立ち資料</a>
        </div>
      </div>
    </div>
  </section>

</main>


{% endblock %}